src/model_save/knn_model.pkl filter=lfs diff=lfs merge=lfs -text
results/COUTAND_MARCHAND_second_challenge_1.json filter=lfs diff=lfs merge=lfs -text
src/data/data.zip filter=lfs diff=lfs merge=lfs -text
